.navb{
	background-color:#138496;
	direction: rtl;
}
.navb ul{
	overflow:hidden;
	list-style:none;
}
.navb ul li{
display:inline-block;
padding:5px; 
}
.navb ul li a{
	text-decoration:none;
	float:right;
	padding: 5px 20px;
	color:white;
	border-radius:5px;
}
.navb ul li a:hover{
	transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-webkit-transition:all .5s ease-in-out;
	background-color:white; 
	color:#138496;
}